<head>
    <title>Timestamp microservice</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcun icon" href="img/fav-17.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">
</head>
<div class="contained">
    <div class="cfx">
        <a href="https://www.freecodecamp.org/">
            <img class="fcc-ico" 
                 src="https://cdn-images-1.medium.com/max/1200/1*B6_f-_SxscJ9FCuIjOrQAQ.jpeg" 
                 alt="fcc-logo"
                 target="_blank">
        </a>
        <p class="fcc-title">Apis and Microservices Projects</p> 
    </div>
    
    <h1>Request Header Parser Microservice</h1>
    <h3>
        Will return your ip address, language and the software for each request.
    </h3>
    <h4 class="mrg-top">Example usage:</h2>
    <p class="snipet">
        [base url]/api/whoami
    </p>
    
    <h4 class="mrg-top">Example output:</h2>
    <p class="snipet">
        { <br> 
        "ipaddress": "159.20.14.100", <br>
        "language": "en-US,en;q=0.5" <br>
        "software": "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0" <br>
        }
    </p>
</div>
